body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:359px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:88px;
  width:639px;
  height:359px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:359px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:88px;
  width:639px;
  height:359px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1247px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:485px;
  width:1247px;
  height:144px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1247px;
  white-space:nowrap;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:654px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
